doctype html
html
    head
        meta(charset=utf-8)
        title WELCOME
    body
        h1 WELCOME
        div
            a(href="/user/login") LOGIN
            span  | 
            a(href="/user/register") REGISTER
            span  | 
            a(href="/user/update") UPDATE
            span  | 
            a(href="/user/delete") DELETE
        