doctype html
html
    head
        meta(charset=utf-8)
        title WELCOME
    body
        h1 WELCOME #{user?user.username+'님':''}
        -if(user){
            a(href="/user/logout") LOGOUT
            span  |  
            a(href="/user/update") UPDATE
            span  | 
            a(href="/user/delete") DELETE
        -}else{
            a(href="/user/login") LOGIN
            span  | 
            a(href="/user/register") REGISTER

        -}